openapi: 3.2.0
info:
  title: Litescrape Bing API
  version: 1.0.0
  x-guidance: 'Start with the free seller advisor: POST https://agents.litescrape.com/zeroclick/agent/quote with your goal and known budget or requirements. This operation costs $0 and requires only an x402 or MPP wallet proof; it returns a guide and never executes a purchase. Without a wallet, GET https://agents.litescrape.com/zeroclick/agent/guide?goal=URL_ENCODED_TASK or POST to that guide. Other operations below are the direct API reference; their own prices and access requirements still apply. Call the operations listed in this document at https://agents.litescrape.com. Each service''s full price matrix, plans, and how to buy are at https://agents.litescrape.com/services/{slug}; each operation''s x-payment-info names the service it bills by slug (rates[].service). Slugs identify services in prices and usage reports and are never request values: when one operation serves several services, its request body schema lists the accepted values of the field that selects the service, so send one of those exactly as written. Calls here are sold on plans, not per call: an unidentified call returns 401 bearer_required with a registration recipe, never a per-call 402. Reuse your existing agent identity; register only if new (anonymous registration is one free API call; the recipe is at https://agents.litescrape.com/auth.md), buy a plan at POST https://agents.litescrape.com/plans/{planId}/purchase (its priced 402 settles with a supported payment method - x402 (Base USDC) or MPP (Tempo USDC) today - or by card), then retry with Authorization: Bearer <token>. No upstream API key is needed. Read GET https://agents.litescrape.com/manifest.json for the live services, meters, plans, and prices, and https://agents.litescrape.com/llms-full.txt for the full agent guide.'
  description: 'Operations tagged Bing across 2 of this provider''s published API definitions: litescrape-agents-openapi.json, litescrape-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://agents.litescrape.com
  description: Plan-based access to Litescrape's API
security:
- planAccess: []
tags:
- name: Bing
paths:
  /api/bing/maps:
    get:
      summary: Bing Maps places
      responses:
        '200':
          content:
            application/json:
              schema:
                title: Response Bing Maps
          description: Successful response; one call consumed unless noted otherwise.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Invalid or unrecognized parameters; no call consumed.
        '401':
          description: 'Agent identity credential required: register once, then retry with Authorization: Bearer <token>.'
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: The API key has no calls remaining.
        '403':
          description: No active plan covers this call; the body lists the plans that do. Buy one with your bearer, then retry.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: The key's concurrency limit was reached; retry after in-flight requests finish.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Internal failure; the call is refunded.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Temporarily unavailable (service_unavailable), or the request's timeout expired (request_deadline_exceeded); the call is not billed. Retryable.
      parameters:
      - in: query
        name: q
        schema:
          type: string
          examples:
          - coffee Austin Texas
          maxLength: 2048
        required: false
        description: Search query, up to 2,048 characters. Required unless place_id is present.
      - in: query
        name: cp
        schema:
          type: string
          pattern: ^-?(\d+(\.\d*)?|\.\d+)~-?(\d+(\.\d*)?|\.\d+)$
          examples:
          - 30.2672~-97.7431
          maxLength: 128
        required: false
        description: Map center in latitude~longitude form.
      - in: query
        name: setlang
        schema:
          type: string
          examples:
          - en-US
          maxLength: 16
        required: false
        description: Bing Maps interface language, such as en-US; up to 16 characters.
      - in: query
        name: place_id
        schema:
          type: string
          maxLength: 256
        required: false
        description: Bing Maps place identifier from a listing row's place_id, up to 256 characters. Required unless q is present.
      - in: query
        name: first
        schema:
          type: integer
          default: 0
          maximum: 10000
          minimum: 0
        required: false
        description: Listing offset from 0 through 10,000.
      - in: query
        name: count
        schema:
          type: integer
          default: 30
          maximum: 30
          minimum: 1
        required: false
        description: Number of listings, 1 through 30.
      - in: query
        name: timeout
        schema:
          type: number
          maximum: 90
          exclusiveMinimum: 0
        required: false
        description: Optional budget for the entire request in seconds, measured from gateway receipt until the response is ready to send. Includes admission, queueing and settlement. Must be greater than 0 and at most 90. On expiry, the call is not billed and returns 503 request_deadline_exceeded with retryable=true and a request ID. Omit to retain the standard server deadline.
      description: Searches Bing Maps listings when `q` is supplied, or returns one place's details when `place_id` is supplied; at least one of the two is required. Listing rows include the `place_id` to use for a detail lookup. Page listings with `first` and `count`.
      operationId: bing_maps
      x-zeroclick-document-sources:
      - gaps: []
        pages: []
        sourceId: sds_oiSNnl6piiW-6PsH3jP5d
        authority: official
        conflicts: []
        revisionId: sdrn_N7MBDGVCvt9TpfaGaX4tI
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_-Doc8BDPLC_7ZkbclczY3
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_z5o2SNZEEooN1t-55qeQb
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_7wh2ZwlyorKdy2ufWzdbp
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_qC1Dr-UkeDWdT1qZHh4bc
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_dE1vb6KP_VC0YEcwOiFTQ
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_g0NEXSEZu-X279iJ6sb1S
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_doST8RJcW6OpLSY63EeP8
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_4PwsbhA1n_XExLRzrDQxV
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_ecdqfIR7qoiK3yqTyB_ly
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_8Wq6yZaXo01N22nTHsee7
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_HZiiMis4YzmZHpVu4Ypvk
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_mafzmR8eeOUNagY8jLeYa
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_iyNcJAHqzlubStW5tbg7t
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_e4mgAJN0hwR3hjn5N_3t4
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_Od4TzBU3529zIQGX2q3N_
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_aftu4rCg-Ycv-J_NwBG6u
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_omxoQQUm3BbiN_tSTpAmS
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_jzM1YhBsFJDmnXIkHA5Vj
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_tZFzBVHMAZwlnxQU25Y5q
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_-Aq7GPhDx6Y6Fm2lOzD7z
      - gaps:
        - Missing parameter definitions
        - Missing request body schema
        - Missing response schema
        pages:
        - 1
        sourceId: sds_VM53FMzOIP_FPz7oxPoC7
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        revisionId: sdrn_3FO1Ga7w2O9jHSw5_bmwN
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_XeHsE8MJ9PcM_CaL-Sj0A
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_f7Ljr_55BvzuuPE1jG1mP
      x-zeroclick-services:
      - bing
      x-payment-info:
        access: plan
        price:
          mode: fixed
          currency: USD
          amount: '0.000150'
        rates:
        - service: bing
          meter: requests
          unit: request
          unitSize: 1
          priceUsd: '0.000150'
          includedUnits: 0
        perCallUsage:
        - service: bing
          meter: requests
          quantity: 1
      security:
      - planAccess: []
      tags:
      - Bing
    servers:
    - url: https://agents.litescrape.com
      description: Plan-based access to Litescrape's API
  /api/bing/search:
    get:
      summary: Bing web search
      responses:
        '200':
          content:
            application/json:
              schema:
                title: Response Bing Search
          description: Successful response; one call consumed unless noted otherwise.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Invalid or unrecognized parameters; no call consumed.
        '401':
          description: 'Agent identity credential required: register once, then retry with Authorization: Bearer <token>.'
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: The API key has no calls remaining.
        '403':
          description: No active plan covers this call; the body lists the plans that do. Buy one with your bearer, then retry.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: The key's concurrency limit was reached; retry after in-flight requests finish.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Internal failure; the call is refunded.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Temporarily unavailable (service_unavailable), or the request's timeout expired (request_deadline_exceeded); the call is not billed. Retryable.
      parameters:
      - in: query
        name: engine
        schema:
          enum:
          - bing
          type: string
          default: bing
        required: false
        description: Search engine. Optional; the only accepted value is bing.
      - in: query
        name: q
        schema:
          type: string
          examples:
          - pizza shops in New York
          maxLength: 2048
          minLength: 1
        example: pizza shops in New York
        required: true
        description: Search query, up to 2,048 characters with no control characters. Bing search operators are preserved.
      - in: query
        name: location
        schema:
          type: string
          examples:
          - New York, New York
          maxLength: 256
        required: false
        description: Optional city-level search origin, up to 256 characters.
      - in: query
        name: lat
        schema:
          type: number
          maximum: 90
          minimum: -90
          examples:
          - 40.7128
        required: false
        description: Optional search-origin latitude from -90 through 90. Independent of lon and location.
      - in: query
        name: lon
        schema:
          type: number
          maximum: 180
          minimum: -180
          examples:
          - -74.006
        required: false
        description: Optional search-origin longitude from -180 through 180. Independent of lat and location.
      - in: query
        name: mkt
        schema:
          type: string
          pattern: ^[A-Za-z]{2}-[A-Za-z]{2}$
          examples:
          - en-US
        required: false
        description: Bing market in language-country form, such as en-US; case-insensitive. Mutually exclusive with cc.
      - in: query
        name: cc
        schema:
          type: string
          pattern: ^[A-Za-z]{2}$
          examples:
          - US
        required: false
        description: Two-letter ISO country code of the search origin, such as US; case-insensitive. Mutually exclusive with mkt.
      - in: query
        name: first
        schema:
          type: integer
          default: 1
          maximum: 9007199254740991
          minimum: 1
        required: false
        description: One-based offset of the first organic result.
      - in: query
        name: safeSearch
        schema:
          enum:
          - 'off'
          - moderate
          - strict
          type: string
          default: moderate
        required: false
        description: 'Adult-content filtering: off, moderate, or strict. Case-insensitive.'
      - in: query
        name: filters
        schema:
          type: string
          examples:
          - ex1:"ez5_20069_20433"
          maxLength: 8192
        required: false
        description: Native Bing display or date filters, up to 8,192 characters with no control characters.
      - in: query
        name: device
        schema:
          enum:
          - desktop
          - tablet
          - mobile
          type: string
          default: desktop
        required: false
        description: 'Request profile: desktop, tablet, or mobile. Case-insensitive.'
      - in: query
        name: timeout
        schema:
          type: number
          maximum: 90
          exclusiveMinimum: 0
        required: false
        description: Optional budget for the entire request in seconds, measured from gateway receipt until the response is ready to send. Includes admission, queueing and settlement. Must be greater than 0 and at most 90. On expiry, the call is not billed and returns 503 request_deadline_exceeded with retryable=true and a request ID. Omit to retain the standard server deadline.
      description: 'Returns Bing web results: organic results, ads, answer boxes, Knowledge Graph cards, local, shopping, news and related searches when Bing shows them. Page through organic results with `first`; prefer the `pagination.next` link in the response over building the offset yourself.'
      operationId: bing_search
      x-zeroclick-document-sources:
      - gaps: []
        pages: []
        sourceId: sds_oiSNnl6piiW-6PsH3jP5d
        authority: official
        conflicts: []
        revisionId: sdrn_N7MBDGVCvt9TpfaGaX4tI
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_-Doc8BDPLC_7ZkbclczY3
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_z5o2SNZEEooN1t-55qeQb
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_7wh2ZwlyorKdy2ufWzdbp
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_qC1Dr-UkeDWdT1qZHh4bc
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_dE1vb6KP_VC0YEcwOiFTQ
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_g0NEXSEZu-X279iJ6sb1S
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_doST8RJcW6OpLSY63EeP8
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_4PwsbhA1n_XExLRzrDQxV
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_ecdqfIR7qoiK3yqTyB_ly
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_8Wq6yZaXo01N22nTHsee7
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_HZiiMis4YzmZHpVu4Ypvk
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_mafzmR8eeOUNagY8jLeYa
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_iyNcJAHqzlubStW5tbg7t
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_e4mgAJN0hwR3hjn5N_3t4
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_Od4TzBU3529zIQGX2q3N_
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_aftu4rCg-Ycv-J_NwBG6u
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_omxoQQUm3BbiN_tSTpAmS
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_jzM1YhBsFJDmnXIkHA5Vj
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_tZFzBVHMAZwlnxQU25Y5q
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_-Aq7GPhDx6Y6Fm2lOzD7z
      - gaps:
        - Missing parameter definitions
        - Missing request body schema
        - Missing response schema
        pages:
        - 1
        sourceId: sds_VM53FMzOIP_FPz7oxPoC7
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        revisionId: sdrn_3FO1Ga7w2O9jHSw5_bmwN
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_XeHsE8MJ9PcM_CaL-Sj0A
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_f7Ljr_55BvzuuPE1jG1mP
      x-zeroclick-services:
      - bing
      x-payment-info:
        access: plan
        price:
          mode: fixed
          currency: USD
          amount: '0.000150'
        rates:
        - service: bing
          meter: requests
          unit: request
          unitSize: 1
          priceUsd: '0.000150'
          includedUnits: 0
        perCallUsage:
        - service: bing
          meter: requests
          quantity: 1
      security:
      - planAccess: []
      tags:
      - Bing
    servers:
    - url: https://agents.litescrape.com
      description: Plan-based access to Litescrape's API
components:
  schemas:
    sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0:
      type: object
      required:
      - error
      - error_code
      - status_code
      - request_id
      - retryable
      properties:
        error:
          type: string
          description: Human-readable failure message.
        retryable:
          type: boolean
          description: Whether the same request may succeed if retried.
        error_code:
          type: string
          examples:
          - invalid_request
          description: Stable machine-readable error code.
        request_id:
          type: string
          description: Identifier to quote when contacting support.
        status_code:
          type: integer
          description: HTTP status repeated in the body.
        search_parameters:
          type: object
          description: The parameters the request was received with.
          additionalProperties: true
  securitySchemes:
    planAccess:
      type: http
      scheme: bearer
      description: 'Plan access. Calls are sold on plans (credit or subscription), not per call: an unidentified call returns 401 bearer_required with a registration recipe, and an identified call with no covering plan returns 403 plan_required listing the plans that cover it. Reuse your existing agent identity; register only if new (anonymous registration is one free API call; the recipe is at https://agents.litescrape.com/auth.md), buy a plan at POST https://agents.litescrape.com/plans/{planId}/purchase (its priced 402 settles with a supported payment method - x402 or MPP today - or by card), then retry with the access token as Authorization: Bearer <token>. No upstream API key is needed.'
    sellerAgentX402:
      type: apiKey
      in: header
      name: Payment-Signature
      description: Signed $0 x402 proof from the 402 challenge
    sellerAgentMpp:
      type: http
      scheme: Payment
      description: Signed $0 MPP proof from the 402 challenge
externalDocs:
  url: https://agents.litescrape.com/llms-full.txt
  description: How to authenticate, pay, and call this API; links the upstream API reference.
x-refined-from:
- litescrape-agents-openapi.json
- litescrape-openapi.yml
x-zeroclick-navigation:
  fullSpec: https://agents.litescrape.com/openapi.json
  services: https://agents.litescrape.com/services
  serviceSpecTemplate: https://agents.litescrape.com/services/{slug}/openapi.json
  searchTemplate: https://agents.litescrape.com/openapi.json?q={text}
  operationTemplate: https://agents.litescrape.com/openapi.json?path={path}&method={method}
  firstPage: https://agents.litescrape.com/openapi.json?page=1
  instructions:
  - Use this spec if it contains the operation and details you need. Otherwise, search or open a relevant service spec using the links below.
  - Find service slugs in x-zeroclick-services or x-payment-info.rates[].service; use them in serviceSpecTemplate, never as request values.
  - URL-encode template values. Search is ranked; service, path, and method filters are exact. Filters combine.
  - Pages contain up to 10 operations; follow info.x-next or the Link header if you need more results. Shared operations retain all selector values.
x-service-info:
  categories:
  - search
  - web
  docs:
    homepage: https://litescrape.com
    apiReference: https://agents.litescrape.com/openapi.json
    llms: https://agents.litescrape.com/llms.txt
x-zeroclick-navigation-footer:
  instructions:
  - Use this spec if it contains the operation and details you need. Otherwise, search or open a relevant service spec using the links below.
  - Find service slugs in x-zeroclick-services or x-payment-info.rates[].service; use them in serviceSpecTemplate, never as request values.
  - URL-encode template values. Search is ranked; service, path, and method filters are exact. Filters combine.
  - Pages contain up to 10 operations; follow info.x-next or the Link header if you need more results. Shared operations retain all selector values.
  fullSpec: https://agents.litescrape.com/openapi.json
  services: https://agents.litescrape.com/services
  serviceSpecTemplate: https://agents.litescrape.com/services/{slug}/openapi.json
  searchTemplate: https://agents.litescrape.com/openapi.json?q={text}
  operationTemplate: https://agents.litescrape.com/openapi.json?path={path}&method={method}
  firstPage: https://agents.litescrape.com/openapi.json?page=1
