openapi: 3.2.0
info:
  title: Litescrape Yelp API
  version: 1.0.0
  x-guidance: 'Start with the free seller advisor: POST https://agents.litescrape.com/zeroclick/agent/quote with your goal and known budget or requirements. This operation costs $0 and requires only an x402 or MPP wallet proof; it returns a guide and never executes a purchase. Without a wallet, GET https://agents.litescrape.com/zeroclick/agent/guide?goal=URL_ENCODED_TASK or POST to that guide. Other operations below are the direct API reference; their own prices and access requirements still apply. Call the operations listed in this document at https://agents.litescrape.com. Each service''s full price matrix, plans, and how to buy are at https://agents.litescrape.com/services/{slug}; each operation''s x-payment-info names the service it bills by slug (rates[].service). Slugs identify services in prices and usage reports and are never request values: when one operation serves several services, its request body schema lists the accepted values of the field that selects the service, so send one of those exactly as written. Calls here are sold on plans, not per call: an unidentified call returns 401 bearer_required with a registration recipe, never a per-call 402. Reuse your existing agent identity; register only if new (anonymous registration is one free API call; the recipe is at https://agents.litescrape.com/auth.md), buy a plan at POST https://agents.litescrape.com/plans/{planId}/purchase (its priced 402 settles with a supported payment method - x402 (Base USDC) or MPP (Tempo USDC) today - or by card), then retry with Authorization: Bearer <token>. No upstream API key is needed. Read GET https://agents.litescrape.com/manifest.json for the live services, meters, plans, and prices, and https://agents.litescrape.com/llms-full.txt for the full agent guide.'
  description: 'Operations tagged Yelp across 2 of this provider''s published API definitions: litescrape-agents-openapi.json, litescrape-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://agents.litescrape.com
  description: Plan-based access to Litescrape's API
security:
- planAccess: []
tags:
- name: Yelp
paths:
  /api/yelp/reviews:
    get:
      summary: Yelp business reviews
      responses:
        '200':
          content:
            application/json:
              schema:
                title: Response Yelp Reviews
          description: Successful response; one call consumed unless noted otherwise.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Invalid or unrecognized parameters; no call consumed.
        '401':
          description: 'Agent identity credential required: register once, then retry with Authorization: Bearer <token>.'
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: The API key has no calls remaining.
        '403':
          description: No active plan covers this call; the body lists the plans that do. Buy one with your bearer, then retry.
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: A control Yelp does not support (q or not_recommended=true) was set; no call consumed.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: The key's concurrency limit was reached; retry after in-flight requests finish.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Internal failure; the call is refunded.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Temporarily unavailable (service_unavailable), or the request's timeout expired (request_deadline_exceeded); the call is not billed. Retryable.
      parameters:
      - in: query
        name: place_id
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          examples:
          - dDz2erKJ_Z2HMur0tQ_iJA
          maxLength: 128
        example: dDz2erKJ_Z2HMur0tQ_iJA
        required: true
        description: 'Encoded Yelp business ID: letters, numbers, underscores, and hyphens.'
      - in: query
        name: yelp_domain
        schema:
          type: string
          default: www.yelp.com
          examples:
          - www.yelp.com
        required: false
        description: Supported first-party localized Yelp hostname, such as www.yelp.co.uk. Links in the response use this hostname.
      - in: query
        name: hl
        schema:
          type: string
          default: en
          pattern: ^[A-Za-z]{2}(-[A-Za-z]{2})?$
          examples:
          - en
        required: false
        description: 'Review language: a two-letter code with an optional two-letter region, such as en or fr-FR.'
      - in: query
        name: q
        schema:
          type: string
          maxLength: 500
        required: false
        description: 'Not supported: Yelp does not offer review text filtering. Any value returns 422 unsupported_parameter.'
      - in: query
        name: sortby
        schema:
          enum:
          - relevance_desc
          - date_desc
          - date_asc
          - rating_desc
          - rating_asc
          - elites_desc
          type: string
          default: relevance_desc
        required: false
        description: Review order.
      - in: query
        name: rating
        schema:
          type: string
          pattern: ^\s*[1-5]\s*(,\s*[1-5]\s*)*$
          examples:
          - 5,4
          maxLength: 32
        required: false
        description: Comma-separated star ratings to include, each from 1 through 5.
      - in: query
        name: not_recommended
        schema:
          type: boolean
          default: false
        required: false
        description: 'Not supported: Yelp does not expose its not-recommended reviews. true returns 422 unsupported_parameter.'
      - in: query
        name: start
        schema:
          type: integer
          default: 0
          maximum: 10000
          minimum: 0
        required: false
        description: Review offset from 0 through 10,000.
      - in: query
        name: num
        schema:
          type: integer
          default: 49
          maximum: 49
          minimum: 1
        required: false
        description: Number of reviews, 1 through 49.
      - in: query
        name: not_recommended_start
        schema:
          type: integer
          minimum: 0
        required: false
        description: Not supported, because not_recommended is not supported. Any value returns 400.
      - in: query
        name: timeout
        schema:
          type: number
          maximum: 90
          exclusiveMinimum: 0
        required: false
        description: Optional budget for the entire request in seconds, measured from gateway receipt until the response is ready to send. Includes admission, queueing and settlement. Must be greater than 0 and at most 90. On expiry, the call is not billed and returns 503 request_deadline_exceeded with retryable=true and a request ID. Omit to retain the standard server deadline.
      description: Returns public reviews for one Yelp business in `reviews`. Get the encoded business ID from `place_id` in Yelp Search results. Page with `start` and `num`, or follow `pagination.next`.
      operationId: yelp_reviews
      x-zeroclick-document-sources:
      - gaps: []
        pages: []
        sourceId: sds_oiSNnl6piiW-6PsH3jP5d
        authority: official
        conflicts: []
        revisionId: sdrn_N7MBDGVCvt9TpfaGaX4tI
      - gaps:
        - Missing query parameters
        - Missing response schema
        pages:
        - 27
        - 33
        sourceId: sds_-Doc8BDPLC_7ZkbclczY3
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_z5o2SNZEEooN1t-55qeQb
      - gaps:
        - Missing explicit parameter definitions for sort orders and rating filters
        - Missing response schema
        pages:
        - 1
        sourceId: sds_7wh2ZwlyorKdy2ufWzdbp
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /parameters/query/id
        - /description
        - /operationId
        revisionId: sdrn_qC1Dr-UkeDWdT1qZHh4bc
      - gaps:
        - Missing explicit parameter definitions for sort orders and rating filters
        - Missing response schema
        pages:
        - 1
        sourceId: sds_dE1vb6KP_VC0YEcwOiFTQ
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /parameters/query/id
        - /description
        - /operationId
        revisionId: sdrn_g0NEXSEZu-X279iJ6sb1S
      - gaps:
        - Missing query parameters
        - Missing response schema
        pages:
        - 27
        - 33
        sourceId: sds_doST8RJcW6OpLSY63EeP8
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_4PwsbhA1n_XExLRzrDQxV
      - gaps:
        - Missing query parameters
        - Missing response schema
        pages:
        - 27
        - 33
        sourceId: sds_ecdqfIR7qoiK3yqTyB_ly
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_8Wq6yZaXo01N22nTHsee7
      - gaps:
        - Missing query parameters
        - Missing response schema
        pages:
        - 27
        - 33
        sourceId: sds_HZiiMis4YzmZHpVu4Ypvk
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_mafzmR8eeOUNagY8jLeYa
      - gaps:
        - Missing query parameters
        - Missing response schema
        pages:
        - 27
        - 33
        sourceId: sds_iyNcJAHqzlubStW5tbg7t
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_e4mgAJN0hwR3hjn5N_3t4
      - gaps:
        - Missing query parameters
        - Missing response schema
        pages:
        - 27
        - 33
        sourceId: sds_Od4TzBU3529zIQGX2q3N_
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_aftu4rCg-Ycv-J_NwBG6u
      - gaps:
        - Missing explicit parameter definitions for sort orders and rating filters
        - Missing response schema
        pages:
        - 1
        sourceId: sds_omxoQQUm3BbiN_tSTpAmS
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /parameters/query/id
        - /description
        - /operationId
        revisionId: sdrn_jzM1YhBsFJDmnXIkHA5Vj
      - gaps:
        - Missing query parameters
        - Missing response schema
        pages:
        - 27
        - 33
        sourceId: sds_tZFzBVHMAZwlnxQU25Y5q
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_-Aq7GPhDx6Y6Fm2lOzD7z
      - gaps:
        - Missing full parameter list and schema details
        pages:
        - 28
        sourceId: sds_VM53FMzOIP_FPz7oxPoC7
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /parameters/query/id
        - /description
        - /operationId
        revisionId: sdrn_3FO1Ga7w2O9jHSw5_bmwN
      - gaps:
        - Missing query parameters
        - Missing response schema
        pages:
        - 27
        - 33
        sourceId: sds_XeHsE8MJ9PcM_CaL-Sj0A
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_f7Ljr_55BvzuuPE1jG1mP
      x-zeroclick-services:
      - yelp
      x-payment-info:
        access: plan
        price:
          mode: fixed
          currency: USD
          amount: '0.000150'
        rates:
        - service: yelp
          meter: requests
          unit: request
          unitSize: 1
          priceUsd: '0.000150'
          includedUnits: 0
        perCallUsage:
        - service: yelp
          meter: requests
          quantity: 1
      security:
      - planAccess: []
      tags:
      - Yelp
    servers:
    - url: https://agents.litescrape.com
      description: Plan-based access to Litescrape's API
  /api/yelp/search:
    get:
      summary: Yelp business search
      responses:
        '200':
          content:
            application/json:
              schema:
                title: Response Yelp Search
          description: Successful response; one call consumed unless noted otherwise.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Invalid or unrecognized parameters; no call consumed.
        '401':
          description: 'Agent identity credential required: register once, then retry with Authorization: Bearer <token>.'
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: The API key has no calls remaining.
        '403':
          description: No active plan covers this call; the body lists the plans that do. Buy one with your bearer, then retry.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: The key's concurrency limit was reached; retry after in-flight requests finish.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Internal failure; the call is refunded.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Temporarily unavailable (service_unavailable), or the request's timeout expired (request_deadline_exceeded); the call is not billed. Retryable.
      parameters:
      - in: query
        name: find_desc
        schema:
          type: string
          examples:
          - coffee
          maxLength: 500
        required: false
        description: Business name, category, or search terms, up to 500 characters.
      - in: query
        name: find_loc
        schema:
          type: string
          examples:
          - Austin, TX
          maxLength: 500
          minLength: 1
        example: Austin, TX
        required: true
        description: Search location, 1 to 500 characters.
      - in: query
        name: yelp_domain
        schema:
          type: string
          default: www.yelp.com
          examples:
          - www.yelp.com
        required: false
        description: Supported first-party localized Yelp hostname, such as www.yelp.co.uk. Links in the response use this hostname.
      - in: query
        name: l
        schema:
          type: string
          examples:
          - g:-97.80,30.20,-97.70,30.30
          maxLength: 1024
        required: false
        description: Yelp map-bounds token, up to 1,024 characters.
      - in: query
        name: cflt
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          examples:
          - coffee
          maxLength: 128
        required: false
        description: Yelp category identifier, such as coffee.
      - in: query
        name: sortby
        schema:
          enum:
          - recommended
          - rating
          - review_count
          type: string
          default: recommended
        required: false
        description: Result order.
      - in: query
        name: attrs
        schema:
          type: string
          examples:
          - OutdoorSeating
          maxLength: 4096
        required: false
        description: Comma-separated Yelp attribute filters, such as OutdoorSeating; up to 4,096 characters.
      - in: query
        name: start
        schema:
          type: integer
          default: 0
          maximum: 10000
          minimum: 0
        required: false
        description: Result offset from 0 through 10,000.
      - in: query
        name: timeout
        schema:
          type: number
          maximum: 90
          exclusiveMinimum: 0
        required: false
        description: Optional budget for the entire request in seconds, measured from gateway receipt until the response is ready to send. Includes admission, queueing and settlement. Must be greater than 0 and at most 90. On expiry, the call is not billed and returns 503 request_deadline_exceeded with retryable=true and a request ID. Omit to retain the standard server deadline.
      description: Returns Yelp businesses in `organic_results`. Each row's `place_id` is the encoded business ID used by the Yelp Reviews API, and `reviews_link` calls it directly. Page with `start` or follow `pagination`.
      operationId: yelp_search
      x-zeroclick-document-sources:
      - gaps: []
        pages: []
        sourceId: sds_oiSNnl6piiW-6PsH3jP5d
        authority: official
        conflicts: []
        revisionId: sdrn_N7MBDGVCvt9TpfaGaX4tI
      - gaps:
        - Missing query parameters
        - Missing response schema
        pages:
        - 27
        - 33
        sourceId: sds_-Doc8BDPLC_7ZkbclczY3
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_z5o2SNZEEooN1t-55qeQb
      - gaps:
        - Missing explicit parameter definitions for sort, category, and attribute filters
        - Missing response schema
        pages:
        - 1
        sourceId: sds_7wh2ZwlyorKdy2ufWzdbp
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /parameters/query/q
        - /description
        - /operationId
        revisionId: sdrn_qC1Dr-UkeDWdT1qZHh4bc
      - gaps:
        - Missing explicit parameter definitions for sort, category, and attribute filters
        - Missing response schema
        pages:
        - 1
        sourceId: sds_dE1vb6KP_VC0YEcwOiFTQ
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /parameters/query/q
        - /description
        - /operationId
        revisionId: sdrn_g0NEXSEZu-X279iJ6sb1S
      - gaps:
        - Missing query parameters
        - Missing response schema
        pages:
        - 27
        - 33
        sourceId: sds_doST8RJcW6OpLSY63EeP8
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_4PwsbhA1n_XExLRzrDQxV
      - gaps:
        - Missing query parameters
        - Missing response schema
        pages:
        - 27
        - 33
        sourceId: sds_ecdqfIR7qoiK3yqTyB_ly
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_8Wq6yZaXo01N22nTHsee7
      - gaps:
        - Missing query parameters
        - Missing response schema
        pages:
        - 27
        - 33
        sourceId: sds_HZiiMis4YzmZHpVu4Ypvk
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_mafzmR8eeOUNagY8jLeYa
      - gaps:
        - Missing query parameters
        - Missing response schema
        pages:
        - 27
        - 33
        sourceId: sds_iyNcJAHqzlubStW5tbg7t
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_e4mgAJN0hwR3hjn5N_3t4
      - gaps:
        - Missing query parameters
        - Missing response schema
        pages:
        - 27
        - 33
        sourceId: sds_Od4TzBU3529zIQGX2q3N_
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_aftu4rCg-Ycv-J_NwBG6u
      - gaps:
        - Missing explicit parameter definitions for sort, category, and attribute filters
        - Missing response schema
        pages:
        - 1
        sourceId: sds_omxoQQUm3BbiN_tSTpAmS
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /parameters/query/q
        - /description
        - /operationId
        revisionId: sdrn_jzM1YhBsFJDmnXIkHA5Vj
      - gaps:
        - Missing query parameters
        - Missing response schema
        pages:
        - 27
        - 33
        sourceId: sds_tZFzBVHMAZwlnxQU25Y5q
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_-Aq7GPhDx6Y6Fm2lOzD7z
      - gaps:
        - Missing full parameter list and schema details
        pages:
        - 27
        sourceId: sds_VM53FMzOIP_FPz7oxPoC7
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /parameters/query/q
        - /description
        - /operationId
        revisionId: sdrn_3FO1Ga7w2O9jHSw5_bmwN
      - gaps:
        - Missing query parameters
        - Missing response schema
        pages:
        - 27
        - 33
        sourceId: sds_XeHsE8MJ9PcM_CaL-Sj0A
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_f7Ljr_55BvzuuPE1jG1mP
      x-zeroclick-services:
      - yelp
      x-payment-info:
        access: plan
        price:
          mode: fixed
          currency: USD
          amount: '0.000150'
        rates:
        - service: yelp
          meter: requests
          unit: request
          unitSize: 1
          priceUsd: '0.000150'
          includedUnits: 0
        perCallUsage:
        - service: yelp
          meter: requests
          quantity: 1
      security:
      - planAccess: []
      tags:
      - Yelp
    servers:
    - url: https://agents.litescrape.com
      description: Plan-based access to Litescrape's API
components:
  schemas:
    sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0:
      type: object
      required:
      - error
      - error_code
      - status_code
      - request_id
      - retryable
      properties:
        error:
          type: string
          description: Human-readable failure message.
        retryable:
          type: boolean
          description: Whether the same request may succeed if retried.
        error_code:
          type: string
          examples:
          - invalid_request
          description: Stable machine-readable error code.
        request_id:
          type: string
          description: Identifier to quote when contacting support.
        status_code:
          type: integer
          description: HTTP status repeated in the body.
        search_parameters:
          type: object
          description: The parameters the request was received with.
          additionalProperties: true
  securitySchemes:
    planAccess:
      type: http
      scheme: bearer
      description: 'Plan access. Calls are sold on plans (credit or subscription), not per call: an unidentified call returns 401 bearer_required with a registration recipe, and an identified call with no covering plan returns 403 plan_required listing the plans that cover it. Reuse your existing agent identity; register only if new (anonymous registration is one free API call; the recipe is at https://agents.litescrape.com/auth.md), buy a plan at POST https://agents.litescrape.com/plans/{planId}/purchase (its priced 402 settles with a supported payment method - x402 or MPP today - or by card), then retry with the access token as Authorization: Bearer <token>. No upstream API key is needed.'
    sellerAgentX402:
      type: apiKey
      in: header
      name: Payment-Signature
      description: Signed $0 x402 proof from the 402 challenge
    sellerAgentMpp:
      type: http
      scheme: Payment
      description: Signed $0 MPP proof from the 402 challenge
externalDocs:
  url: https://agents.litescrape.com/llms-full.txt
  description: How to authenticate, pay, and call this API; links the upstream API reference.
x-refined-from:
- litescrape-agents-openapi.json
- litescrape-openapi.yml
x-zeroclick-navigation:
  fullSpec: https://agents.litescrape.com/openapi.json
  services: https://agents.litescrape.com/services
  serviceSpecTemplate: https://agents.litescrape.com/services/{slug}/openapi.json
  searchTemplate: https://agents.litescrape.com/openapi.json?q={text}
  operationTemplate: https://agents.litescrape.com/openapi.json?path={path}&method={method}
  firstPage: https://agents.litescrape.com/openapi.json?page=1
  instructions:
  - Use this spec if it contains the operation and details you need. Otherwise, search or open a relevant service spec using the links below.
  - Find service slugs in x-zeroclick-services or x-payment-info.rates[].service; use them in serviceSpecTemplate, never as request values.
  - URL-encode template values. Search is ranked; service, path, and method filters are exact. Filters combine.
  - Pages contain up to 10 operations; follow info.x-next or the Link header if you need more results. Shared operations retain all selector values.
x-service-info:
  categories:
  - search
  - web
  docs:
    homepage: https://litescrape.com
    apiReference: https://agents.litescrape.com/openapi.json
    llms: https://agents.litescrape.com/llms.txt
x-zeroclick-navigation-footer:
  instructions:
  - Use this spec if it contains the operation and details you need. Otherwise, search or open a relevant service spec using the links below.
  - Find service slugs in x-zeroclick-services or x-payment-info.rates[].service; use them in serviceSpecTemplate, never as request values.
  - URL-encode template values. Search is ranked; service, path, and method filters are exact. Filters combine.
  - Pages contain up to 10 operations; follow info.x-next or the Link header if you need more results. Shared operations retain all selector values.
  fullSpec: https://agents.litescrape.com/openapi.json
  services: https://agents.litescrape.com/services
  serviceSpecTemplate: https://agents.litescrape.com/services/{slug}/openapi.json
  searchTemplate: https://agents.litescrape.com/openapi.json?q={text}
  operationTemplate: https://agents.litescrape.com/openapi.json?path={path}&method={method}
  firstPage: https://agents.litescrape.com/openapi.json?page=1
