# x-archived-from: litescrape-openapi.yml
# x-archived-on: 2026-10-07
openapi: 3.1.0
x-zeroclick-navigation:
  fullSpec: https://agents.litescrape.com/openapi.json
  services: https://agents.litescrape.com/services
  serviceSpecTemplate: https://agents.litescrape.com/services/{slug}/openapi.json
  searchTemplate: https://agents.litescrape.com/openapi.json?q={text}
  operationTemplate: https://agents.litescrape.com/openapi.json?path={path}&method={method}
  firstPage: https://agents.litescrape.com/openapi.json?page=1
  instructions:
  - Use this spec if it contains the operation and details you need. Otherwise, search or open a relevant service spec using the links below.
  - Find service slugs in x-zeroclick-services or x-payment-info.rates[].service; use them in serviceSpecTemplate, never as request values.
  - URL-encode template values. Search is ranked; service, path, and method filters are exact. Filters combine.
  - Pages contain up to 10 operations; follow info.x-next or the Link header if you need more results. Shared operations retain all selector values.
info:
  title: Litescrape
  version: 1.0.0
  description: 'Litescrape is a search results API. It returns structured JSON from Google Search, Google Shopping, Google Maps and reviews, Bing, DuckDuckGo, Yelp, Tripadvisor, and Apple Maps, so you can query live search engines and map services without running browsers or proxies yourself. Every endpoint costs the same flat rate per request, with no plans, seats, or monthly fees. This server is a transparent proxy in front of Litescrape''s own API that sells access on plans (credit or subscription) rather than per call: it handles identity, payment, and proxying. Agents can purchase autonomously or with their human''s approval. The complete verified paid surface is listed at /openapi.json, the source of truth for available operations. Each operation here carries its pricing in x-payment-info. Use the operations and details here when they meet your needs. Filtered specs contain only matching operations; if you cannot find what you need here, use search or the service catalog. The live
    catalog at /manifest.json is authoritative for prices and any free included units (prices[].includedUnits) - some meters include free usage per account before any charge, reserved for agents claimed by a human with a verified email.'
  x-guidance: 'Start with the free seller advisor: POST https://agents.litescrape.com/zeroclick/agent/quote with your goal and known budget or requirements. This operation costs $0 and requires only an x402 or MPP wallet proof; it returns a guide and never executes a purchase. Without a wallet, GET https://agents.litescrape.com/zeroclick/agent/guide?goal=URL_ENCODED_TASK or POST to that guide. Other operations below are the direct API reference; their own prices and access requirements still apply. Call the operations listed in this document at https://agents.litescrape.com. Each service''s full price matrix, plans, and how to buy are at https://agents.litescrape.com/services/{slug}; each operation''s x-payment-info names the service it bills by slug (rates[].service). Slugs identify services in prices and usage reports and are never request values: when one operation serves several services, its request body schema lists the accepted values of the field that selects the service, so send
    one of those exactly as written. Calls here are sold on plans, not per call: an unidentified call returns 401 bearer_required with a registration recipe, never a per-call 402. Reuse your existing agent identity; register only if new (anonymous registration is one free API call; the recipe is at https://agents.litescrape.com/auth.md), buy a plan at POST https://agents.litescrape.com/plans/{planId}/purchase (its priced 402 settles with a supported payment method - x402 (Base USDC) or MPP (Tempo USDC) today - or by card), then retry with Authorization: Bearer <token>. No upstream API key is needed. Read GET https://agents.litescrape.com/manifest.json for the live services, meters, plans, and prices, and https://agents.litescrape.com/llms-full.txt for the full agent guide.'
x-service-info:
  categories:
  - search
  - web
  docs:
    homepage: https://litescrape.com
    apiReference: https://agents.litescrape.com/openapi.json
    llms: https://agents.litescrape.com/llms.txt
externalDocs:
  url: https://agents.litescrape.com/llms-full.txt
  description: How to authenticate, pay, and call this API; links the upstream API reference.
servers:
- url: https://agents.litescrape.com
  description: Plan-based access to Litescrape's API
security:
- planAccess: []
components:
  securitySchemes:
    planAccess:
      type: http
      scheme: bearer
      description: 'Plan access. Calls are sold on plans (credit or subscription), not per call: an unidentified call returns 401 bearer_required with a registration recipe, and an identified call with no covering plan returns 403 plan_required listing the plans that cover it. Reuse your existing agent identity; register only if new (anonymous registration is one free API call; the recipe is at https://agents.litescrape.com/auth.md), buy a plan at POST https://agents.litescrape.com/plans/{planId}/purchase (its priced 402 settles with a supported payment method - x402 or MPP today - or by card), then retry with the access token as Authorization: Bearer <token>. No upstream API key is needed.'
    sellerAgentX402:
      type: apiKey
      in: header
      name: Payment-Signature
      description: Signed $0 x402 proof from the 402 challenge
    sellerAgentMpp:
      type: http
      scheme: Payment
      description: Signed $0 MPP proof from the 402 challenge
  schemas:
    sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0:
      type: object
      required:
      - error
      - error_code
      - status_code
      - request_id
      - retryable
      properties:
        error:
          type: string
          description: Human-readable failure message.
        retryable:
          type: boolean
          description: Whether the same request may succeed if retried.
        error_code:
          type: string
          examples:
          - invalid_request
          description: Stable machine-readable error code.
        request_id:
          type: string
          description: Identifier to quote when contacting support.
        status_code:
          type: integer
          description: HTTP status repeated in the body.
        search_parameters:
          type: object
          description: The parameters the request was received with.
          additionalProperties: true
paths:
  /api/apple/maps/places:
    get:
      summary: Fetch Apple Maps places
      responses:
        '200':
          content:
            application/json:
              schema:
                title: Response Apple Maps Places
          description: Successful response; one call consumed unless noted otherwise.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Invalid or unrecognized parameters; no call consumed.
        '401':
          description: 'Agent identity credential required: register once, then retry with Authorization: Bearer <token>.'
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: The API key has no calls remaining.
        '403':
          description: No active plan covers this call; the body lists the plans that do. Buy one with your bearer, then retry.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: The key's concurrency limit was reached; retry after in-flight requests finish.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Internal failure; the call is refunded.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Temporarily unavailable (service_unavailable), or the request's timeout expired (request_deadline_exceeded); the call is not billed. Retryable.
      parameters:
      - in: query
        name: muid
        schema:
          type: string
          examples:
          - '4372355869446211302'
        example: '4372355869446211302'
        required: true
        description: One to 50 comma-separated unsigned 64-bit decimal Apple Maps place IDs.
      - in: query
        name: locale
        schema:
          type: string
          default: en-US
          examples:
          - en-US
        required: false
        description: Apple-supported language-region locale such as en-US, en-GB, fr-FR, ja-JP, or zh-TW. Controls language and regional formatting.
      - in: query
        name: timeout
        schema:
          type: number
          maximum: 90
          exclusiveMinimum: 0
        required: false
        description: Optional budget for the entire request in seconds, measured from gateway receipt until the response is ready to send. Includes admission, queueing and settlement. Must be greater than 0 and at most 90. On expiry, the call is not billed and returns 503 request_deadline_exceeded with retryable=true and a request ID. Omit to retain the standard server deadline.
      description: Resolve one to 50 unsigned 64-bit decimal Apple Maps MUIDs. Returns place_results in the requested order.
      operationId: apple_maps_places
      x-zeroclick-document-sources:
      - gaps: []
        pages: []
        sourceId: sds_oiSNnl6piiW-6PsH3jP5d
        authority: official
        conflicts: []
        revisionId: sdrn_N7MBDGVCvt9TpfaGaX4tI
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_-Doc8BDPLC_7ZkbclczY3
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_z5o2SNZEEooN1t-55qeQb
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_7wh2ZwlyorKdy2ufWzdbp
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_qC1Dr-UkeDWdT1qZHh4bc
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_dE1vb6KP_VC0YEcwOiFTQ
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_g0NEXSEZu-X279iJ6sb1S
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_doST8RJcW6OpLSY63EeP8
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_4PwsbhA1n_XExLRzrDQxV
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_ecdqfIR7qoiK3yqTyB_ly
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_8Wq6yZaXo01N22nTHsee7
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_HZiiMis4YzmZHpVu4Ypvk
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_mafzmR8eeOUNagY8jLeYa
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_iyNcJAHqzlubStW5tbg7t
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_e4mgAJN0hwR3hjn5N_3t4
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_Od4TzBU3529zIQGX2q3N_
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_aftu4rCg-Ycv-J_NwBG6u
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_omxoQQUm3BbiN_tSTpAmS
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_jzM1YhBsFJDmnXIkHA5Vj
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_tZFzBVHMAZwlnxQU25Y5q
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_-Aq7GPhDx6Y6Fm2lOzD7z
      - gaps:
        - Missing parameter definitions
        - Missing request body schema
        - Missing response schema
        pages:
        - 1
        sourceId: sds_VM53FMzOIP_FPz7oxPoC7
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        revisionId: sdrn_3FO1Ga7w2O9jHSw5_bmwN
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_XeHsE8MJ9PcM_CaL-Sj0A
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_f7Ljr_55BvzuuPE1jG1mP
      x-zeroclick-services:
      - apple-maps
      x-payment-info:
        access: plan
        price:
          mode: fixed
          currency: USD
          amount: '0.000150'
        rates:
        - service: apple-maps
          meter: requests
          unit: request
          unitSize: 1
          priceUsd: '0.000150'
          includedUnits: 0
        perCallUsage:
        - service: apple-maps
          meter: requests
          quantity: 1
      security:
      - planAccess: []
  /api/apple/maps/reviews:
    get:
      summary: Fetch Apple Maps reviews
      responses:
        '200':
          content:
            application/json:
              schema:
                title: Response Apple Maps Reviews
          description: Successful response; one call consumed unless noted otherwise.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Invalid or unrecognized parameters; no call consumed.
        '401':
          description: 'Agent identity credential required: register once, then retry with Authorization: Bearer <token>.'
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: The API key has no calls remaining.
        '403':
          description: No active plan covers this call; the body lists the plans that do. Buy one with your bearer, then retry.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: The key's concurrency limit was reached; retry after in-flight requests finish.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Internal failure; the call is refunded.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Temporarily unavailable (service_unavailable), or the request's timeout expired (request_deadline_exceeded); the call is not billed. Retryable.
      parameters:
      - in: query
        name: muid
        schema:
          type: string
          examples:
          - '4560078147072908047'
        example: '4560078147072908047'
        required: true
        description: Exactly one unsigned 64-bit decimal Apple Maps place ID, such as the muid in an Apple Maps Places response.
      - in: query
        name: locale
        schema:
          type: string
          default: en-US
          examples:
          - en-US
        required: false
        description: Apple-supported language-region locale such as en-US, en-GB, fr-FR, ja-JP, or zh-TW. Controls language and regional formatting.
      - in: query
        name: timeout
        schema:
          type: number
          maximum: 90
          exclusiveMinimum: 0
        required: false
        description: Optional budget for the entire request in seconds, measured from gateway receipt until the response is ready to send. Includes admission, queueing and settlement. Must be greater than 0 and at most 90. On expiry, the call is not billed and returns 503 request_deadline_exceeded with retryable=true and a request ID. Omit to retain the standard server deadline.
      description: Returns Apple's own rating summary and written reviews for one Apple Maps place; ratings and reviews attributed to other providers are omitted. reviews can be empty when a rating summary exists, and there is no pagination.
      operationId: apple_maps_reviews
      x-zeroclick-document-sources:
      - gaps: []
        pages: []
        sourceId: sds_oiSNnl6piiW-6PsH3jP5d
        authority: official
        conflicts: []
        revisionId: sdrn_N7MBDGVCvt9TpfaGaX4tI
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_-Doc8BDPLC_7ZkbclczY3
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_z5o2SNZEEooN1t-55qeQb
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_7wh2ZwlyorKdy2ufWzdbp
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_qC1Dr-UkeDWdT1qZHh4bc
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_dE1vb6KP_VC0YEcwOiFTQ
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_g0NEXSEZu-X279iJ6sb1S
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_doST8RJcW6OpLSY63EeP8
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_4PwsbhA1n_XExLRzrDQxV
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_ecdqfIR7qoiK3yqTyB_ly
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_8Wq6yZaXo01N22nTHsee7
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_HZiiMis4YzmZHpVu4Ypvk
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_mafzmR8eeOUNagY8jLeYa
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_iyNcJAHqzlubStW5tbg7t
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_e4mgAJN0hwR3hjn5N_3t4
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_Od4TzBU3529zIQGX2q3N_
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_aftu4rCg-Ycv-J_NwBG6u
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_omxoQQUm3BbiN_tSTpAmS
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_jzM1YhBsFJDmnXIkHA5Vj
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_tZFzBVHMAZwlnxQU25Y5q
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_-Aq7GPhDx6Y6Fm2lOzD7z
      - gaps:
        - Missing parameter definitions
        - Missing request body schema
        - Missing response schema
        pages:
        - 1
        sourceId: sds_VM53FMzOIP_FPz7oxPoC7
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        revisionId: sdrn_3FO1Ga7w2O9jHSw5_bmwN
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_XeHsE8MJ9PcM_CaL-Sj0A
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_f7Ljr_55BvzuuPE1jG1mP
      x-zeroclick-services:
      - apple-maps
      x-payment-info:
        access: plan
        price:
          mode: fixed
          currency: USD
          amount: '0.000150'
        rates:
        - service: apple-maps
          meter: requests
          unit: request
          unitSize: 1
          priceUsd: '0.000150'
          includedUnits: 0
        perCallUsage:
        - service: apple-maps
          meter: requests
          quantity: 1
      security:
      - planAccess: []
  /api/bing/maps:
    get:
      summary: Bing Maps places
      responses:
        '200':
          content:
            application/json:
              schema:
                title: Response Bing Maps
          description: Successful response; one call consumed unless noted otherwise.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Invalid or unrecognized parameters; no call consumed.
        '401':
          description: 'Agent identity credential required: register once, then retry with Authorization: Bearer <token>.'
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: The API key has no calls remaining.
        '403':
          description: No active plan covers this call; the body lists the plans that do. Buy one with your bearer, then retry.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: The key's concurrency limit was reached; retry after in-flight requests finish.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Internal failure; the call is refunded.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Temporarily unavailable (service_unavailable), or the request's timeout expired (request_deadline_exceeded); the call is not billed. Retryable.
      parameters:
      - in: query
        name: q
        schema:
          type: string
          examples:
          - coffee Austin Texas
          maxLength: 2048
        required: false
        description: Search query, up to 2,048 characters. Required unless place_id is present.
      - in: query
        name: cp
        schema:
          type: string
          pattern: ^-?(\d+(\.\d*)?|\.\d+)~-?(\d+(\.\d*)?|\.\d+)$
          examples:
          - 30.2672~-97.7431
          maxLength: 128
        required: false
        description: Map center in latitude~longitude form.
      - in: query
        name: setlang
        schema:
          type: string
          examples:
          - en-US
          maxLength: 16
        required: false
        description: Bing Maps interface language, such as en-US; up to 16 characters.
      - in: query
        name: place_id
        schema:
          type: string
          maxLength: 256
        required: false
        description: Bing Maps place identifier from a listing row's place_id, up to 256 characters. Required unless q is present.
      - in: query
        name: first
        schema:
          type: integer
          default: 0
          maximum: 10000
          minimum: 0
        required: false
        description: Listing offset from 0 through 10,000.
      - in: query
        name: count
        schema:
          type: integer
          default: 30
          maximum: 30
          minimum: 1
        required: false
        description: Number of listings, 1 through 30.
      - in: query
        name: timeout
        schema:
          type: number
          maximum: 90
          exclusiveMinimum: 0
        required: false
        description: Optional budget for the entire request in seconds, measured from gateway receipt until the response is ready to send. Includes admission, queueing and settlement. Must be greater than 0 and at most 90. On expiry, the call is not billed and returns 503 request_deadline_exceeded with retryable=true and a request ID. Omit to retain the standard server deadline.
      description: Searches Bing Maps listings when `q` is supplied, or returns one place's details when `place_id` is supplied; at least one of the two is required. Listing rows include the `place_id` to use for a detail lookup. Page listings with `first` and `count`.
      operationId: bing_maps
      x-zeroclick-document-sources:
      - gaps: []
        pages: []
        sourceId: sds_oiSNnl6piiW-6PsH3jP5d
        authority: official
        conflicts: []
        revisionId: sdrn_N7MBDGVCvt9TpfaGaX4tI
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_-Doc8BDPLC_7ZkbclczY3
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_z5o2SNZEEooN1t-55qeQb
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_7wh2ZwlyorKdy2ufWzdbp
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_qC1Dr-UkeDWdT1qZHh4bc
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_dE1vb6KP_VC0YEcwOiFTQ
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_g0NEXSEZu-X279iJ6sb1S
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_doST8RJcW6OpLSY63EeP8
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_4PwsbhA1n_XExLRzrDQxV
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_ecdqfIR7qoiK3yqTyB_ly
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_8Wq6yZaXo01N22nTHsee7
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_HZiiMis4YzmZHpVu4Ypvk
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_mafzmR8eeOUNagY8jLeYa
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_iyNcJAHqzlubStW5tbg7t
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_e4mgAJN0hwR3hjn5N_3t4
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_Od4TzBU3529zIQGX2q3N_
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_aftu4rCg-Ycv-J_NwBG6u
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_omxoQQUm3BbiN_tSTpAmS
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_jzM1YhBsFJDmnXIkHA5Vj
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_tZFzBVHMAZwlnxQU25Y5q
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_-Aq7GPhDx6Y6Fm2lOzD7z
      - gaps:
        - Missing parameter definitions
        - Missing request body schema
        - Missing response schema
        pages:
        - 1
        sourceId: sds_VM53FMzOIP_FPz7oxPoC7
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        revisionId: sdrn_3FO1Ga7w2O9jHSw5_bmwN
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_XeHsE8MJ9PcM_CaL-Sj0A
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_f7Ljr_55BvzuuPE1jG1mP
      x-zeroclick-services:
      - bing
      x-payment-info:
        access: plan
        price:
          mode: fixed
          currency: USD
          amount: '0.000150'
        rates:
        - service: bing
          meter: requests
          unit: request
          unitSize: 1
          priceUsd: '0.000150'
          includedUnits: 0
        perCallUsage:
        - service: bing
          meter: requests
          quantity: 1
      security:
      - planAccess: []
  /api/bing/search:
    get:
      summary: Bing web search
      responses:
        '200':
          content:
            application/json:
              schema:
                title: Response Bing Search
          description: Successful response; one call consumed unless noted otherwise.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Invalid or unrecognized parameters; no call consumed.
        '401':
          description: 'Agent identity credential required: register once, then retry with Authorization: Bearer <token>.'
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: The API key has no calls remaining.
        '403':
          description: No active plan covers this call; the body lists the plans that do. Buy one with your bearer, then retry.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: The key's concurrency limit was reached; retry after in-flight requests finish.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Internal failure; the call is refunded.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Temporarily unavailable (service_unavailable), or the request's timeout expired (request_deadline_exceeded); the call is not billed. Retryable.
      parameters:
      - in: query
        name: engine
        schema:
          enum:
          - bing
          type: string
          default: bing
        required: false
        description: Search engine. Optional; the only accepted value is bing.
      - in: query
        name: q
        schema:
          type: string
          examples:
          - pizza shops in New York
          maxLength: 2048
          minLength: 1
        example: pizza shops in New York
        required: true
        description: Search query, up to 2,048 characters with no control characters. Bing search operators are preserved.
      - in: query
        name: location
        schema:
          type: string
          examples:
          - New York, New York
          maxLength: 256
        required: false
        description: Optional city-level search origin, up to 256 characters.
      - in: query
        name: lat
        schema:
          type: number
          maximum: 90
          minimum: -90
          examples:
          - 40.7128
        required: false
        description: Optional search-origin latitude from -90 through 90. Independent of lon and location.
      - in: query
        name: lon
        schema:
          type: number
          maximum: 180
          minimum: -180
          examples:
          - -74.006
        required: false
        description: Optional search-origin longitude from -180 through 180. Independent of lat and location.
      - in: query
        name: mkt
        schema:
          type: string
          pattern: ^[A-Za-z]{2}-[A-Za-z]{2}$
          examples:
          - en-US
        required: false
        description: Bing market in language-country form, such as en-US; case-insensitive. Mutually exclusive with cc.
      - in: query
        name: cc
        schema:
          type: string
          pattern: ^[A-Za-z]{2}$
          examples:
          - US
        required: false
        description: Two-letter ISO country code of the search origin, such as US; case-insensitive. Mutually exclusive with mkt.
      - in: query
        name: first
        schema:
          type: integer
          default: 1
          maximum: 9007199254740991
          minimum: 1
        required: false
        description: One-based offset of the first organic result.
      - in: query
        name: safeSearch
        schema:
          enum:
          - 'off'
          - moderate
          - strict
          type: string
          default: moderate
        required: false
        description: 'Adult-content filtering: off, moderate, or strict. Case-insensitive.'
      - in: query
        name: filters
        schema:
          type: string
          examples:
          - ex1:"ez5_20069_20433"
          maxLength: 8192
        required: false
        description: Native Bing display or date filters, up to 8,192 characters with no control characters.
      - in: query
        name: device
        schema:
          enum:
          - desktop
          - tablet
          - mobile
          type: string
          default: desktop
        required: false
        description: 'Request profile: desktop, tablet, or mobile. Case-insensitive.'
      - in: query
        name: timeout
        schema:
          type: number
          maximum: 90
          exclusiveMinimum: 0
        required: false
        description: Optional budget for the entire request in seconds, measured from gateway receipt until the response is ready to send. Includes admission, queueing and settlement. Must be greater than 0 and at most 90. On expiry, the call is not billed and returns 503 request_deadline_exceeded with retryable=true and a request ID. Omit to retain the standard server deadline.
      description: 'Returns Bing web results: organic results, ads, answer boxes, Knowledge Graph cards, local, shopping, news and related searches when Bing shows them. Page through organic results with `first`; prefer the `pagination.next` link in the response over building the offset yourself.'
      operationId: bing_search
      x-zeroclick-document-sources:
      - gaps: []
        pages: []
        sourceId: sds_oiSNnl6piiW-6PsH3jP5d
        authority: official
        conflicts: []
        revisionId: sdrn_N7MBDGVCvt9TpfaGaX4tI
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_-Doc8BDPLC_7ZkbclczY3
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_z5o2SNZEEooN1t-55qeQb
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_7wh2ZwlyorKdy2ufWzdbp
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_qC1Dr-UkeDWdT1qZHh4bc
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_dE1vb6KP_VC0YEcwOiFTQ
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_g0NEXSEZu-X279iJ6sb1S
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_doST8RJcW6OpLSY63EeP8
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_4PwsbhA1n_XExLRzrDQxV
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_ecdqfIR7qoiK3yqTyB_ly
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_8Wq6yZaXo01N22nTHsee7
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_HZiiMis4YzmZHpVu4Ypvk
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_mafzmR8eeOUNagY8jLeYa
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_iyNcJAHqzlubStW5tbg7t
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_e4mgAJN0hwR3hjn5N_3t4
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_Od4TzBU3529zIQGX2q3N_
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_aftu4rCg-Ycv-J_NwBG6u
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_omxoQQUm3BbiN_tSTpAmS
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_jzM1YhBsFJDmnXIkHA5Vj
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_tZFzBVHMAZwlnxQU25Y5q
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_-Aq7GPhDx6Y6Fm2lOzD7z
      - gaps:
        - Missing parameter definitions
        - Missing request body schema
        - Missing response schema
        pages:
        - 1
        sourceId: sds_VM53FMzOIP_FPz7oxPoC7
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        revisionId: sdrn_3FO1Ga7w2O9jHSw5_bmwN
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_XeHsE8MJ9PcM_CaL-Sj0A
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_f7Ljr_55BvzuuPE1jG1mP
      x-zeroclick-services:
      - bing
      x-payment-info:
        access: plan
        price:
          mode: fixed
          currency: USD
          amount: '0.000150'
        rates:
        - service: bing
          meter: requests
          unit: request
          unitSize: 1
          priceUsd: '0.000150'
          includedUnits: 0
        perCallUsage:
        - service: bing
          meter: requests
          quantity: 1
      security:
      - planAccess: []
  /api/duckduckgo/maps:
    get:
      summary: DuckDuckGo local places
      responses:
        '200':
          content:
            application/json:
              schema:
                title: Response Duckduckgo Maps
          description: Successful response; one call consumed unless noted otherwise.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Invalid or unrecognized parameters; no call consumed.
        '401':
          description: 'Agent identity credential required: register once, then retry with Authorization: Bearer <token>.'
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: The API key has no calls remaining.
        '403':
          description: No active plan covers this call; the body lists the plans that do. Buy one with your bearer, then retry.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: The key's concurrency limit was reached; retry after in-flight requests finish.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Internal failure; the call is refunded.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Temporarily unavailable (service_unavailable), or the request's timeout expired (request_deadline_exceeded); the call is not billed. Retryable.
      parameters:
      - in: query
        name: q
        schema:
          type: string
          examples:
          - coffee
          maxLength: 500
          minLength: 1
        example: coffee
        required: true
        description: Place or category query, 1 to 500 characters.
      - in: query
        name: bbox
        schema:
          type: string
          examples:
          - 30.35,-97.90,30.10,-97.50
          maxLength: 256
        required: false
        description: Map rectangle as top,left,bottom,right (latitude,longitude of the top-left corner, then of the bottom-right corner); must not wrap the antimeridian. Use instead of lat/lon; one of the two is required.
      - in: query
        name: lat
        schema:
          type: number
          maximum: 90
          minimum: -90
          examples:
          - 30.2672
        required: false
        description: Map center latitude from -90 through 90. Requires lon; use instead of bbox.
      - in: query
        name: lon
        schema:
          type: number
          maximum: 180
          minimum: -180
          examples:
          - -97.7431
        required: false
        description: Map center longitude from -180 through 180. Requires lat; use instead of bbox.
      - in: query
        name: strict_bbox
        schema:
          type: boolean
          default: true
        required: false
        description: Exclude results outside the requested bounds.
      - in: query
        name: timeout
        schema:
          type: number
          maximum: 90
          exclusiveMinimum: 0
        required: false
        description: Optional budget for the entire request in seconds, measured from gateway receipt until the response is ready to send. Includes admission, queueing and settlement. Must be greater than 0 and at most 90. On expiry, the call is not billed and returns 503 request_deadline_exceeded with retryable=true and a request ID. Omit to retain the standard server deadline.
      description: Returns places from DuckDuckGo's local results in `local_results`. Supply either `bbox` or both `lat` and `lon` to set the map area.
      operationId: duckduckgo_maps
      x-zeroclick-document-sources:
      - gaps: []
        pages: []
        sourceId: sds_oiSNnl6piiW-6PsH3jP5d
        authority: official
        conflicts: []
        revisionId: sdrn_N7MBDGVCvt9TpfaGaX4tI
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_-Doc8BDPLC_7ZkbclczY3
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_z5o2SNZEEooN1t-55qeQb
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_7wh2ZwlyorKdy2ufWzdbp
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_qC1Dr-UkeDWdT1qZHh4bc
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_dE1vb6KP_VC0YEcwOiFTQ
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_g0NEXSEZu-X279iJ6sb1S
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_doST8RJcW6OpLSY63EeP8
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_4PwsbhA1n_XExLRzrDQxV
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_ecdqfIR7qoiK3yqTyB_ly
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_8Wq6yZaXo01N22nTHsee7
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_HZiiMis4YzmZHpVu4Ypvk
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_mafzmR8eeOUNagY8jLeYa
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_iyNcJAHqzlubStW5tbg7t
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_e4mgAJN0hwR3hjn5N_3t4
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_Od4TzBU3529zIQGX2q3N_
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_aftu4rCg-Ycv-J_NwBG6u
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_omxoQQUm3BbiN_tSTpAmS
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_jzM1YhBsFJDmnXIkHA5Vj
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_tZFzBVHMAZwlnxQU25Y5q
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_-Aq7GPhDx6Y6Fm2lOzD7z
      - gaps:
        - Missing parameter definitions
        - Missing request body schema
        - Missing response schema
        pages:
        - 1
        sourceId: sds_VM53FMzOIP_FPz7oxPoC7
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        revisionId: sdrn_3FO1Ga7w2O9jHSw5_bmwN
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_XeHsE8MJ9PcM_CaL-Sj0A
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_f7Ljr_55BvzuuPE1jG1mP
      x-zeroclick-services:
      - duckduckgo
      x-payment-info:
        access: plan
        price:
          mode: fixed
          currency: USD
          amount: '0.000150'
        rates:
        - service: duckduckgo
          meter: requests
          unit: request
          unitSize: 1
          priceUsd: '0.000150'
          includedUnits: 0
        perCallUsage:
        - service: duckduckgo
          meter: requests
          quantity: 1
      security:
      - planAccess: []
  /api/duckduckgo/search:
    get:
      summary: DuckDuckGo web search
      responses:
        '200':
          content:
            application/json:
              schema:
                title: Response Duckduckgo Search
          description: Successful response; one call consumed unless noted otherwise.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Invalid or unrecognized parameters; no call consumed.
        '401':
          description: 'Agent identity credential required: register once, then retry with Authorization: Bearer <token>.'
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: The API key has no calls remaining.
        '403':
          description: No active plan covers this call; the body lists the plans that do. Buy one with your bearer, then retry.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: The key's concurrency limit was reached; retry after in-flight requests finish.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Internal failure; the call is refunded.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Temporarily unavailable (service_unavailable), or the request's timeout expired (request_deadline_exceeded); the call is not billed. Retryable.
      parameters:
      - in: query
        name: q
        schema:
          type: string
          examples:
          - coffee Austin Texas
          maxLength: 500
          minLength: 1
        example: coffee Austin Texas
        required: true
        description: Search text, 1 to 500 characters.
      - in: query
        name: kl
        schema:
          type: string
          examples:
          - us-en
          maxLength: 32
        required: false
        description: DuckDuckGo region and language token, such as us-en; up to 32 characters.
      - in: query
        name: search_assist
        schema:
          type: boolean
          default: true
        required: false
        description: Use DuckDuckGo query assistance. Mutually exclusive with m.
      - in: query
        name: safe
        schema:
          enum:
          - '1'
          - '-1'
          - '-2'
          type: string
          default: '-1'
        required: false
        description: 'Safe-search level: 1 is strict, -1 is moderate, -2 is off.'
      - in: query
        name: df
        schema:
          type: string
          pattern: ^(d|w|m|y|\d{4}-\d{2}-\d{2}\.\.\d{4}-\d{2}-\d{2})$
          examples:
          - w
          maxLength: 64
        required: false
        description: 'Date filter: d (past day), w (past week), m (past month), y (past year), or a YYYY-MM-DD..YYYY-MM-DD range.'
      - in: query
        name: start
        schema:
          type: integer
          default: 0
          maximum: 10000
          minimum: 0
        required: false
        description: Result offset from 0 through 10,000.
      - in: query
        name: m
        schema:
          type: integer
          default: 50
          maximum: 50
          minimum: 1
        required: false
        description: Number of results, 1 through 50. Mutually exclusive with search_assist.
      - in: query
        name: timeout
        schema:
          type: number
          maximum: 90
          exclusiveMinimum: 0
        required: false
        description: Optional budget for the entire request in seconds, measured from gateway receipt until the response is ready to send. Includes admission, queueing and settlement. Must be greater than 0 and at most 90. On expiry, the call is not billed and returns 503 request_deadline_exceeded with retryable=true and a request ID. Omit to retain the standard server deadline.
      description: Returns ranked DuckDuckGo web results in `organic_results`. Page with `start`, or follow the `pagination.next` link in the response.
      operationId: duckduckgo_search
      x-zeroclick-document-sources:
      - gaps: []
        pages: []
        sourceId: sds_oiSNnl6piiW-6PsH3jP5d
        authority: official
        conflicts: []
        revisionId: sdrn_N7MBDGVCvt9TpfaGaX4tI
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_-Doc8BDPLC_7ZkbclczY3
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_z5o2SNZEEooN1t-55qeQb
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_7wh2ZwlyorKdy2ufWzdbp
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_qC1Dr-UkeDWdT1qZHh4bc
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_dE1vb6KP_VC0YEcwOiFTQ
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_g0NEXSEZu-X279iJ6sb1S
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_doST8RJcW6OpLSY63EeP8
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_4PwsbhA1n_XExLRzrDQxV
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_ecdqfIR7qoiK3yqTyB_ly
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_8Wq6yZaXo01N22nTHsee7
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_HZiiMis4YzmZHpVu4Ypvk
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_mafzmR8eeOUNagY8jLeYa
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_iyNcJAHqzlubStW5tbg7t
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_e4mgAJN0hwR3hjn5N_3t4
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_Od4TzBU3529zIQGX2q3N_
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_aftu4rCg-Ycv-J_NwBG6u
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_omxoQQUm3BbiN_tSTpAmS
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_jzM1YhBsFJDmnXIkHA5Vj
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_tZFzBVHMAZwlnxQU25Y5q
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_-Aq7GPhDx6Y6Fm2lOzD7z
      - gaps:
        - Missing parameter definitions
        - Missing request body schema
        - Missing response schema
        pages:
        - 1
        sourceId: sds_VM53FMzOIP_FPz7oxPoC7
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        revisionId: sdrn_3FO1Ga7w2O9jHSw5_bmwN
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_XeHsE8MJ9PcM_CaL-Sj0A
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_f7Ljr_55BvzuuPE1jG1mP
      x-zeroclick-services:
      - duckduckgo
      x-payment-info:
        access: plan
        price:
          mode: fixed
          currency: USD
          amount: '0.000150'
        rates:
        - service: duckduckgo
          meter: requests
          unit: request
          unitSize: 1
          priceUsd: '0.000150'
          includedUnits: 0
        perCallUsage:
        - service: duckduckgo
          meter: requests
          quantity: 1
      security:
      - planAccess: []
  /api/google/ai-mode:
    get:
      summary: Google AI Mode
      responses:
        '200':
          content:
            application/json:
              schema:
                title: Response Google Ai Mode
          description: Successful response; one call consumed unless noted otherwise.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Invalid or unrecognized parameters; no call consumed.
        '401':
          description: 'Agent identity credential required: register once, then retry with Authorization: Bearer <token>.'
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: The API key has no calls remaining.
        '403':
          description: No active plan covers this call; the body lists the plans that do. Buy one with your bearer, then retry.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: The key's concurrency limit was reached; retry after in-flight requests finish.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Internal failure; the call is refunded.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Temporarily unavailable (service_unavailable), or the request's timeout expired (request_deadline_exceeded); the call is not billed. Retryable.
      parameters:
      - in: query
        name: q
        schema:
          type: string
          examples:
          - what is the best espresso machine for a small kitchen
          maxLength: 2048
        example: what is the best espresso machine for a small kitchen
        required: true
        description: Question to ask, up to 2,048 characters. Required on every turn, including follow-ups.
      - in: query
        name: continuable
        schema:
          type: boolean
          default: false
        required: false
        description: Return a subsequent_request_token so this answer can be followed up, when Google offers a continuation.
      - in: query
        name: subsequent_request_token
        schema:
          type: string
          pattern: ^ai1\.
          maxLength: 128
        required: false
        description: Token from a previous continuable response. Send it with a new q to continue that conversation; reuse the same gl, hl and location. Expires after 30 minutes. Cannot be combined with image_url.
      - in: query
        name: image_url
        schema:
          type: string
          maxLength: 2048
        required: false
        description: Public http or https URL of an image to include in the question, up to 2,048 characters. The image may be at most 20 MB. Cannot be combined with subsequent_request_token.
      - in: query
        name: location
        schema:
          type: string
          examples:
          - Austin, Texas
          maxLength: 63
        required: false
        description: Human-readable search location, such as Austin, Texas. At most 63 UTF-8 bytes. Mutually exclusive with uule.
      - in: query
        name: uule
        schema:
          type: string
          maxLength: 2048
        required: false
        description: Pre-encoded Google location token. Mutually exclusive with location.
      - in: query
        name: google_domain
        schema:
          type: string
          default: google.com
          examples:
          - google.com
        required: false
        description: Google domain used for the request.
      - in: query
        name: gl
        schema:
          type: string
          examples:
          - us
          maxLength: 2
          minLength: 2
        required: false
        description: Two-letter country code used to localize results.
      - in: query
        name: hl
        schema:
          type: string
          default: en
          examples:
          - en
        required: false
        description: Language code such as en, en-GB, or de.
      - in: query
        name: device
        schema:
          enum:
          - desktop
          - tablet
          - mobile
          type: string
          default: desktop
        required: false
        description: Google device layout. Each device is served Google's real layout for it.
      - in: query
        name: timeout
        schema:
          type: number
          maximum: 90
          exclusiveMinimum: 0
        required: false
        description: Optional budget for the entire request in seconds, measured from gateway receipt until the response is ready to send. Includes admission, queueing and settlement. Must be greater than 0 and at most 90. On expiry, the call is not billed and returns 503 request_deadline_exceeded with retryable=true and a request ID. Omit to retain the standard server deadline.
      description: Returns the answer Google AI Mode generates for a question, as ordered text blocks, with the sources it cited. Set continuable to receive a token for a follow-up question; each turn is billed as its own call. Answers take longer than other endpoints, so allow a client timeout of about 120 seconds.
      operationId: google_ai_mode
      x-zeroclick-document-sources:
      - gaps: []
        pages: []
        sourceId: sds_oiSNnl6piiW-6PsH3jP5d
        authority: official
        conflicts: []
        revisionId: sdrn_N7MBDGVCvt9TpfaGaX4tI
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_-Doc8BDPLC_7ZkbclczY3
        authority: supplemental
        conflicts:
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_z5o2SNZEEooN1t-55qeQb
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_7wh2ZwlyorKdy2ufWzdbp
        authority: supplemental
        conflicts:
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_qC1Dr-UkeDWdT1qZHh4bc
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_dE1vb6KP_VC0YEcwOiFTQ
        authority: supplemental
        conflicts:
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_g0NEXSEZu-X279iJ6sb1S
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_doST8RJcW6OpLSY63EeP8
        authority: supplemental
        conflicts:
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_4PwsbhA1n_XExLRzrDQxV
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_ecdqfIR7qoiK3yqTyB_ly
        authority: supplemental
        conflicts:
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_8Wq6yZaXo01N22nTHsee7
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_HZiiMis4YzmZHpVu4Ypvk
        authority: supplemental
        conflicts:
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_mafzmR8eeOUNagY8jLeYa
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_iyNcJAHqzlubStW5tbg7t
        authority: supplemental
        conflicts:
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_e4mgAJN0hwR3hjn5N_3t4
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_Od4TzBU3529zIQGX2q3N_
        authority: supplemental
        conflicts:
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_aftu4rCg-Ycv-J_NwBG6u
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_omxoQQUm3BbiN_tSTpAmS
        authority: supplemental
        conflicts:
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_jzM1YhBsFJDmnXIkHA5Vj
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_tZFzBVHMAZwlnxQU25Y5q
        authority: supplemental
        conflicts:
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_-Aq7GPhDx6Y6Fm2lOzD7z
      - gaps:
        - Missing parameter definitions
        - Missing request body schema
        - Missing response schema
        pages:
        - 1
        sourceId: sds_VM53FMzOIP_FPz7oxPoC7
        authority: supplemental
        conflicts:
        - /responses/200/description
        - /description
        revisionId: sdrn_3FO1Ga7w2O9jHSw5_bmwN
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_XeHsE8MJ9PcM_CaL-Sj0A
        authority: supplemental
        conflicts:
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_f7Ljr_55BvzuuPE1jG1mP
      x-zeroclick-services:
      - google-search
      x-payment-info:
        access: plan
        price:
          mode: fixed
          currency: USD
          amount: '0.000150'
        rates:
        - service: google-search
          meter: requests
          unit: request
          unitSize: 1
          priceUsd: '0.000150'
          includedUnits: 0
        perCallUsage:
        - service: google-search
          meter: requests
          quantity: 1
      security:
      - planAccess: []
  /api/google/ai-overview:
    get:
      summary: Google AI Overview
      responses:
        '200':
          content:
            application/json:
              schema:
                title: Response Google Ai Overview
          description: Successful response. When Google shows no AI Overview for the query, `ai_overview` is `null`, `search_metadata.ai_overview_state` is `not_served`, and the call is not billed.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Invalid or unrecognized parameters; no call consumed.
        '401':
          description: 'Agent identity credential required: register once, then retry with Authorization: Bearer <token>.'
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: The API key has no calls remaining.
        '403':
          description: No active plan covers this call; the body lists the plans that do. Buy one with your bearer, then retry.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: The key's concurrency limit was reached; retry after in-flight requests finish.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Internal failure; the call is refunded.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Temporarily unavailable (service_unavailable), or the request's timeout expired (request_deadline_exceeded); the call is not billed. Retryable.
      parameters:
      - in: query
        name: q
        schema:
          type: string
          examples:
          - coffee shops in Austin
          maxLength: 2048
        required: false
        description: Search query, up to 2,048 characters. Required unless ludocid or kgmid is supplied.
      - in: query
        name: ludocid
        schema:
          type: string
          pattern: ^[0-9]+$
          examples:
          - '1234567890123456789'
          maxLength: 128
        required: false
        description: Decimal Google CID for a local entity search. Can replace q.
      - in: query
        name: kgmid
        schema:
          type: string
          examples:
          - /m/0k8z
          maxLength: 512
        required: false
        description: Google Knowledge Graph machine ID, such as /m/0k8z. Can replace q.
      - in: query
        name: location
        schema:
          type: string
          examples:
          - Austin, Texas, United States
          maxLength: 512
        required: false
        description: Human-readable search location, up to 512 characters. Use only one of location, uule, or lat and lon.
      - in: query
        name: uule
        schema:
          type: string
          maxLength: 2048
        required: false
        description: Pre-encoded Google location token, up to 2,048 characters. Use only one of location, uule, or lat and lon.
      - in: query
        name: lat
        schema:
          type: number
          maximum: 90
          minimum: -90
          examples:
          - 30.2672
        required: false
        description: Latitude between -90 and 90. Supply with lon; conflicts with location and uule.
      - in: query
        name: lon
        schema:
          type: number
          maximum: 180
          minimum: -180
          examples:
          - -97.7431
        required: false
        description: Longitude between -180 and 180. Supply with lat; conflicts with location and uule.
      - in: query
        name: radius
        schema:
          type: number
          maximum: 1000
          minimum: 1
        required: false
        description: Search radius in meters around location or lat and lon, which it requires. 1 to 199 on desktop, 1 to 1,000 on tablet or mobile.
      - in: query
        name: lsig
        schema:
          type: string
          maxLength: 4096
        required: false
        description: Opaque Google local or Knowledge Graph signature, up to 4,096 characters.
      - in: query
        name: si
        schema:
          type: string
          maxLength: 4096
        required: false
        description: Opaque cached Google search context, up to 4,096 characters.
      - in: query
        name: ibp
        schema:
          type: string
          maxLength: 4096
        required: false
        description: Google layout or expansion control, up to 4,096 characters.
      - in: query
        name: uds
        schema:
          type: string
          maxLength: 4096
        required: false
        description: Opaque Google filter token, up to 4,096 characters.
      - in: query
        name: color_scheme
        schema:
          enum:
          - light
          - dark
          type: string
        required: false
        description: Google's light or dark result presentation.
      - in: query
        name: google_domain
        schema:
          type: string
          default: google.com
          examples:
          - google.com
        required: false
        description: A Google domain from Google's supported list, such as google.com or google.co.uk.
      - in: query
        name: gl
        schema:
          type: string
          pattern: ^[a-z]{2}$
          examples:
          - us
        required: false
        description: Lowercase two-letter country code used to localize results.
      - in: query
        name: hl
        schema:
          type: string
          default: en
          pattern: ^[a-z]{2,3}(-[A-Za-z]{2,8})?$
          examples:
          - en
        required: false
        description: Google interface and result language, such as en, en-US, or de. Defaults to en.
      - in: query
        name: cr
        schema:
          type: string
          pattern: ^country[A-Z]{2}(\|country[A-Z]{2})*$
          examples:
          - countryUS
        required: false
        description: 'Country restriction: one or more countryXX values joined with |, such as countryUS.'
      - in: query
        name: lr
        schema:
          type: string
          pattern: ^lang_[a-z]{2,3}(\|lang_[a-z]{2,3})*$
          examples:
          - lang_en
        required: false
        description: 'Language restriction: one or more lang_xx values joined with |, such as lang_en.'
      - in: query
        name: device
        schema:
          enum:
          - desktop
          - tablet
          - mobile
          type: string
          default: desktop
          examples:
          - desktop
        required: false
        description: 'Google returns its real layout for the selected device: desktop, tablet, or mobile.'
      - in: query
        name: tbs
        schema:
          type: string
          maxLength: 4096
        required: false
        description: Google search-filter string, such as qdr:w, up to 4,096 characters.
      - in: query
        name: safe
        schema:
          enum:
          - active
          - 'off'
          type: string
        required: false
        description: 'Google adult-content filtering: active or off.'
      - in: query
        name: nfpr
        schema:
          enum:
          - '0'
          - '1'
          type: string
        required: false
        description: Set 1 to disable Google spelling auto-correction, or 0 to allow it.
      - in: query
        name: filter
        schema:
          enum:
          - '0'
          - '1'
          type: string
        required: false
        description: 'Google similar-results filtering: 0 or 1.'
      - in: query
        name: pws
        schema:
          enum:
          - '0'
          - '1'
          type: string
        required: false
        description: 'Google personalization flag: 0 or 1. 0 asks for non-personalized results.'
      - in: query
        name: peek_pws
        schema:
          enum:
          - '0'
          - '1'
          type: string
        required: false
        description: 'Google personalization companion flag: 0 or 1, forwarded to Google unchanged.'
      - in: query
        name: tbm
        schema:
          enum:
          - lcl
          - vid
          - nws
          - shop
          - pts
          type: string
        required: false
        description: 'Google vertical: lcl, vid, nws, shop, or pts. Google Images (isch) is rejected with 400 unsupported_search_vertical.'
      - in: query
        name: start
        schema:
          type: integer
          default: 0
          minimum: 0
          examples:
          - 10
        required: false
        description: Result offset for pagination. Defaults to 0.
      - in: query
        name: num
        schema:
          type: integer
          maximum: 10
          minimum: 1
        required: false
        description: 'Requested result count, 1 to 10. A best-effort hint: Google may return fewer rows, and results are never padded.'
      - in: query
        name: as_dt
        schema:
          enum:
          - i
          - e
          type: string
        required: false
        description: Include (i) or exclude (e) the as_sitesearch host. Requires as_sitesearch.
      - in: query
        name: as_epq
        schema:
          type: string
          maxLength: 2048
        required: false
        description: Exact phrase the results must contain, up to 2,048 characters.
      - in: query
        name: as_eq
        schema:
          type: string
          maxLength: 2048
        required: false
        description: Words the results must not contain, up to 2,048 characters.
      - in: query
        name: as_lq
        schema:
          type: string
          pattern: ^https?://[^/\s]
          maxLength: 4096
        required: false
        description: Return pages that link to this complete HTTP(S) URL.
      - in: query
        name: as_nlo
        schema:
          type: integer
          minimum: 0
        required: false
        description: Lower bound of a number range. Supply with as_nhi.
      - in: query
        name: as_nhi
        schema:
          type: integer
          minimum: 0
        required: false
        description: Upper bound of a number range. Supply with as_nlo.
      - in: query
        name: as_oq
        schema:
          type: string
          maxLength: 2048
        required: false
        description: Additional terms of which any may match, up to 2,048 characters.
      - in: query
        name: as_q
        schema:
          type: string
          maxLength: 2048
        required: false
        description: Additional terms that must all match, up to 2,048 characters.
      - in: query
        name: as_qdr
        schema:
          type: string
          pattern: ^[dwmyDWMY]([1-9][0-9]*)?$
          examples:
          - m3
        required: false
        description: 'Date range: d, w, m, or y with an optional positive count, such as m3 for the past three months.'
      - in: query
        name: as_rq
        schema:
          type: string
          pattern: ^https?://[^/\s]
          maxLength: 4096
        required: false
        description: Return pages related to this complete HTTP(S) URL.
      - in: query
        name: as_sitesearch
        schema:
          type: string
          examples:
          - example.com
          maxLength: 253
        required: false
        description: Hostname to include or exclude, such as example.com. A hostname, not a URL.
      - in: query
        name: oq
        schema:
          type: string
          maxLength: 2048
        required: false
        description: Original query text from a Google URL, up to 2,048 characters; forwarded unchanged.
      - in: query
        name: gs_lp
        schema:
          type: string
          maxLength: 4096
        required: false
        description: Opaque Google autocomplete-session value from a Google URL, up to 4,096 characters; forwarded unchanged.
      - in: query
        name: sclient
        schema:
          type: string
          pattern: ^[A-Za-z0-9._-]+$
          maxLength: 64
        required: false
        description: 'Google client label such as gws-wiz-serp: up to 64 letters, digits, dots, underscores, or hyphens.'
      - in: query
        name: timeout
        schema:
          type: number
          maximum: 90
          exclusiveMinimum: 0
        required: false
        description: Optional budget for the entire request in seconds, measured from gateway receipt until the response is ready to send. Includes admission, queueing and settlement. Must be greater than 0 and at most 90. On expiry, the call is not billed and returns 503 request_deadline_exceeded with retryable=true and a request ID. Omit to retain the standard server deadline.
      description: Returns only the AI Overview from a Google results page, and accepts the Google Search parameters except fast_mode. When Google shows no AI Overview for the query, ai_overview is null, search_metadata.ai_overview_state is not_served, and the call is not billed.
      operationId: google_ai_overview
      x-zeroclick-document-sources:
      - gaps: []
        pages: []
        sourceId: sds_oiSNnl6piiW-6PsH3jP5d
        authority: official
        conflicts: []
        revisionId: sdrn_N7MBDGVCvt9TpfaGaX4tI
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_-Doc8BDPLC_7ZkbclczY3
        authority: supplemental
        conflicts:
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_z5o2SNZEEooN1t-55qeQb
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_7wh2ZwlyorKdy2ufWzdbp
        authority: supplemental
        conflicts:
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_qC1Dr-UkeDWdT1qZHh4bc
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_dE1vb6KP_VC0YEcwOiFTQ
        authority: supplemental
        conflicts:
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_g0NEXSEZu-X279iJ6sb1S
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_doST8RJcW6OpLSY63EeP8
        authority: supplemental
        conflicts:
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_4PwsbhA1n_XExLRzrDQxV
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_ecdqfIR7qoiK3yqTyB_ly
        authority: supplemental
        conflicts:
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_8Wq6yZaXo01N22nTHsee7
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_HZiiMis4YzmZHpVu4Ypvk
        authority: supplemental
        conflicts:
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_mafzmR8eeOUNagY8jLeYa
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_iyNcJAHqzlubStW5tbg7t
        authority: supplemental
        conflicts:
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_e4mgAJN0hwR3hjn5N_3t4
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_Od4TzBU3529zIQGX2q3N_
        authority: supplemental
        conflicts:
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_aftu4rCg-Ycv-J_NwBG6u
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_omxoQQUm3BbiN_tSTpAmS
        authority: supplemental
        conflicts:
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_jzM1YhBsFJDmnXIkHA5Vj
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_tZFzBVHMAZwlnxQU25Y5q
        authority: supplemental
        conflicts:
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_-Aq7GPhDx6Y6Fm2lOzD7z
      - gaps:
        - Missing parameter definitions
        - Missing request body schema
        - Missing response schema
        pages:
        - 1
        sourceId: sds_VM53FMzOIP_FPz7oxPoC7
        authority: supplemental
        conflicts:
        - /responses/200/description
        - /description
        revisionId: sdrn_3FO1Ga7w2O9jHSw5_bmwN
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_XeHsE8MJ9PcM_CaL-Sj0A
        authority: supplemental
        conflicts:
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_f7Ljr_55BvzuuPE1jG1mP
      x-zeroclick-services:
      - google-search
      x-payment-info:
        access: plan
        price:
          mode: fixed
          currency: USD
          amount: '0.000150'
        rates:
        - service: google-search
          meter: requests
          unit: request
          unitSize: 1
          priceUsd: '0.000150'
          includedUnits: 0
        perCallUsage:
        - service: google-search
          meter: requests
          quantity: 1
      security:
      - planAccess: []
  /api/google/contributor-reviews:
    get:
      summary: Fetch a Google Maps contributor's reviews
      responses:
        '200':
          content:
            application/json:
              schema:
                title: Response Google Contributor Reviews
          description: Successful response; one call consumed unless noted otherwise.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Invalid or unrecognized parameters; no call consumed.
        '401':
          description: 'Agent identity credential required: register once, then retry with Authorization: Bearer <token>.'
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: The API key has no calls remaining.
        '403':
          description: No active plan covers this call; the body lists the plans that do. Buy one with your bearer, then retry.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: The key's concurrency limit was reached; retry after in-flight requests finish.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Internal failure; the call is refunded.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sds_oiSNnl6piiW-6PsH3jP5d_461cecb8dff2a50f_ref0'
          description: Temporarily unavailable (service_unavailable), or the request's timeout expired (request_deadline_exceeded); the call is not billed. Retryable.
      parameters:
      - in: query
        name: contributor_id
        schema:
          type: string
          pattern: ^[0-9]{10,32}$
          examples:
          - '109736708296406538146'
        example: '109736708296406538146'
        required: true
        description: Required 10 to 32 digit contributor ID, from a Google Maps contributor URL (/maps/contrib/{id}/reviews) or user.contributor_id in a Google Reviews response.
      - in: query
        name: hl
        schema:
          type: string
          default: en
          pattern: ^[A-Za-z]{2,3}(?:-[A-Za-z0-9]{2,8})*$
          examples:
          - en
        required: false
        description: Review and interface language such as en, en-US, or fr.
      - in: query
        name: gl
        schema:
          type: string
          default: us
          pattern: ^[A-Za-z]{2}$
          examples:
          - us
        required: false
        description: Two-letter country code used to localize results, normalized to lowercase. Defaults to us.
      - in: query
        name: limit
        schema:
          type: integer
          default: 200
          maximum: 200
          minimum: 1
        required: false
        description: Maximum number of reviews to return, from 1 through 200.
      - in: query
        name: timeout
        schema:
          type: number
          maximum: 90
          exclusiveMinimum: 0
        required: false
        description: Optional budget for the entire request in seconds, measured from gateway receipt until the response is ready to send. Includes admission, queueing and settlement. Must be greater than 0 and at most 90. On expiry, the call is not billed and returns 503 request_deadline_exceeded with retryable=true and a request ID. Omit to retain the standard server deadline.
      description: Returns the public review history of one Google Maps contributor, up to 200 reviews in one response. There is no pagination; search_information.truncated is true when the profile has more reviews than were returned.
      operationId: google_contributor_reviews
      x-zeroclick-document-sources:
      - gaps: []
        pages: []
        sourceId: sds_oiSNnl6piiW-6PsH3jP5d
        authority: official
        conflicts: []
        revisionId: sdrn_N7MBDGVCvt9TpfaGaX4tI
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_-Doc8BDPLC_7ZkbclczY3
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_z5o2SNZEEooN1t-55qeQb
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_7wh2ZwlyorKdy2ufWzdbp
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_qC1Dr-UkeDWdT1qZHh4bc
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_dE1vb6KP_VC0YEcwOiFTQ
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_g0NEXSEZu-X279iJ6sb1S
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_doST8RJcW6OpLSY63EeP8
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_4PwsbhA1n_XExLRzrDQxV
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_ecdqfIR7qoiK3yqTyB_ly
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_8Wq6yZaXo01N22nTHsee7
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_HZiiMis4YzmZHpVu4Ypvk
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_mafzmR8eeOUNagY8jLeYa
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_iyNcJAHqzlubStW5tbg7t
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_e4mgAJN0hwR3hjn5N_3t4
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_Od4TzBU3529zIQGX2q3N_
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_aftu4rCg-Ycv-J_NwBG6u
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_omxoQQUm3BbiN_tSTpAmS
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_jzM1YhBsFJDmnXIkHA5Vj
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_tZFzBVHMAZwlnxQU25Y5q
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        - /operationId
        revisionId: sdrn_-Aq7GPhDx6Y6Fm2lOzD7z
      - gaps:
        - Missing parameter definitions
        - Missing request body schema
        - Missing response schema
        pages:
        - 1
        sourceId: sds_VM53FMzOIP_FPz7oxPoC7
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
        revisionId: sdrn_3FO1Ga7w2O9jHSw5_bmwN
      - gaps:
        - Missing parameter definitions
        - Missing response schema
        pages:
        - 1
        sourceId: sds_XeHsE8MJ9PcM_CaL-Sj0A
        authority: supplemental
        conflicts:
        - /summary
        - /responses/200/description
        - /description
[...]
